// ! HomePage
.home__page {
	background: var(--home--bg) no-repeat center/cover;
	width: 100%;
	overflow: hidden;

	.content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 100vh;

		@media (max-width: 1290px) {
			justify-content: center;
		}

		// ! left
		.left {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			width: 100%;
			max-width: 730px;

			.sub__title {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.title {
					font-weight: 600;
					font-size: 60px;
					letter-spacing: 7px;
					line-height: 80px;

					color: #ffffff;

					@media (max-width: 770px) {
						font-size: 50px;
					}
					@media (max-width: 470px) {
						font-size: 40px;
					}
					@media (max-width: 510px) {
						font-size: 37px;
					}
					@media (max-width: 435px) {
						font-size: 35px;
					}
					@media (max-width: 415px) {
						font-size: 33px;
						letter-spacing: 4px;
						line-height: 60px;
					}
					@media (max-width: 390px) {
						font-size: 33px;
						letter-spacing: 3px;
					}
				}

				.button__call {
					margin-top: 50px;
					padding: 1rem 50px;

					background: #00ffa3;
					box-shadow: 0 0 20px #00ffa3;
					border-radius: 101px;

					font-weight: 500;
					font-size: 25px;
					letter-spacing: 3px;
					text-transform: uppercase;
					text-decoration: none;

					color: #060606;

					transition: 0.4s;

					&:hover {
						background: #102d22;
						color: #ffffff;
					}

					@media (max-width: 400px) {
						font-size: 20px;
					}
				}
			}

			.stats {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				max-width: 600px;

				h1 {
					font-weight: 600;
					font-size: 50px;
					line-height: 128.4%;
					letter-spacing: 0.035em;
					text-shadow: 0px 0px 14px rgba(218, 165, 32, 0.5);

					color: #ffe6a9;

					@media (max-width: 560px) {
						font-size: 30px;
					}
				}

				hr {
					border: 2px solid #ffe6a9;
					width: 50px;
					transform: rotate(90deg);

					@media (max-width: 560px) {
						border: 1px solid #ffe6a9;
						width: 30px;
					}
				}

				p {
					font-weight: 400;
					font-size: 18px;
					line-height: 128.4%;
					letter-spacing: 0.035em;

					color: #ffe6a9;

					@media (max-width: 560px) {
						font-size: 13px;
					}
				}

				.customers {
					display: flex;
					align-items: center;

					p {
						max-width: 110px;
					}
				}

				.years {
					display: flex;
					align-items: center;

					p {
						max-width: 70px;
					}
				}
			}
		}

		// ! right
		.right {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			max-width: 550px;

			@media (max-width: 1290px) {
				display: none;
			}

			.woman {
				position: relative;

				img {
					position: relative;
					z-index: 2;
					width: 400px;
					height: 720px;
				}

				&:after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;

					background: var(--home-border-radius-dentist);
					opacity: 0.5;
					border-radius: 50%;
					width: 550px;
					height: 550px;
				}
			}
		}
	}
}

// ! AboutPage_Test
.about__page__test {
	margin-top: 90px;

	.text {
		color: white;
	}
}

// ! AboutPage
.about__page {
	background: var(--about-bg);

	.content {
		padding: 90px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			font-weight: 700;
			font-size: 50px;
			line-height: 128.4%;
			letter-spacing: 0.035em;
			text-transform: uppercase;

			position: relative;

			color: var(--about-title-color);

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -14px;

				width: 100%;
				height: 1px;

				background-color: var(--about-title-color);
			}

			@media (max-width: 768px) {
				font-size: 40px;
			}
		}

		.video__text {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			@media (max-width: 1340px) {
				flex-wrap: wrap;
				justify-content: center;
			}

			.face__video {
				margin: 70px 0;

				width: 100%;
				max-width: 700px;
				height: 100%;
				max-height: 420px;

				@media (max-width: 768px) {
					margin: 30px 0;
				}
			}

			.text {
				width: 100%;
				max-width: 580px;
				font-weight: 400;
				font-size: 1.3rem;
				line-height: 128.4%;
				letter-spacing: 0.035em;

				color: var(--about-text-color);

				@media (max-width: 570px) {
					font-size: 20px;
				}
				@media (max-width: 390px) {
					font-size: 18px;
				}
			}
		}
	}
}

// ! AboutTicket
.about__ticket {
	position: relative;
	z-index: 1;
	background: var(--about2-bg);
	box-shadow: 0px -20px 100px rgba(255, 255, 255, 0.2);

	.content {
		padding: 40px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;

		.card {
			margin: 20px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			max-width: 230px;

			.icon {
				margin-bottom: 20px;
				width: 100%;
				max-width: 90px;
				height: 100%;
				max-height: 90px;
			}

			.text {
				text-align: center;
				font-weight: 400;
				font-size: 1.2rem;
				line-height: 128.4%;
				letter-spacing: 0.035em;

				color: #ffe6a9;
			}
		}
	}
}

// ! ContactPage
.contact__page {
	background: var(--contact-bg);
	position: relative;
	z-index: 2;

	.content {
		padding: 70px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		@media (max-width: 1290px) {
			flex-direction: column;
			align-items: center;
		}

		.left {
			margin-bottom: 40px;
			width: 100%;
			max-width: 430px;

			.form__block {
			}
		}

		.right {
			width: 100%;
			max-width: 700px;

			.block {
				display: flex;
				justify-content: space-between;
				align-items: center;

				// ? texts
				.texts {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					.title {
						font-weight: 600;
						font-size: 27px;
						line-height: 128.4%;
						letter-spacing: 0.035em;

						color: var(--contact-text-color);
					}

					.text {
						display: flex;
						align-items: center;
						margin: 15px 0;

						font-weight: 400;
						font-size: 20px;
						line-height: 128.4%;
						letter-spacing: 0.035em;

						color: var(--contact-text-color);

						svg {
							margin-right: 10px;
							fill: var(--contact-icon);
						}
					}
				}

				// ? logo
				.logo {
					$logo__size: 150px;
					position: relative;

					width: 100%;
					height: 100%;
					max-width: $logo__size;
					max-height: $logo__size;
					border-radius: 50%;

					@media (max-width: 500px) {
						display: none;
					}

					.logo__bg {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);

						background: white;
						max-width: $logo__size;
						max-height: $logo__size;
						border-radius: 50%;

						.logo__img {
							width: 100%;
							height: 100%;
							max-width: $logo__size;
							max-height: $logo__size;
							border-radius: 50%;
						}
					}
				}
			}

			.map {
				$yandex-max-height-vh: 47vh;
				//overflow: hidden;
				//position: relative;
				//z-index: 1;
				//border-radius: 10px;
				//
				//width: 100%;
				//height: $yandex-max-height-vh;
				//
				//.size {
				//	position: absolute;
				//	z-index: 2;
				//	left: 0;
				//	top: -450px;
				//
				//	width: 100%;
				//	height: $yandex-max-height-vh;
				//}

				img {
					width: 100%;
					max-width: 700px;
					height: 100%;
					max-height: 450px;
				}
			}
		}
	}
}
